.form-container {
    color: #384047;
    width: 35%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.21);
}

.form-container h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

.inputs-container 
input[type="text"],
.inputs-container 
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 15px;
}

.radio 
input[type="radio"],
.radio
input[type="checkbox"] {
    margin: 0 4px 8px 0;
}

.inputs-container select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
}

.form-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    color: #FFF;
    background-color: var(--green);
    font-size: 18px;    
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--green);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-top: 15px;
}
.form-button p {
    margin:  0px;
    width: fit-content;
}

.inputs-container fieldset {
    margin-bottom: 30px;
    border: none;
}

.inputs-container legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.radio label {
    display: block;
    margin-bottom: 8px;
}

.inputs-container label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: var(--green);
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {

    .form-container form {
        max-width: 480px;
    }

}